.App {
  text-align: center;
}
#title {
  text-align: center;
}

#employees {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

#employees td,
th {
  border: 1px solid #ddd;
  padding: 10px;
}

#employees th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: gray;
}

#employees tr:nth-child(odd) {
  background-color: lightgray;
}
